body{
    background-color: #3CB371;
}
h1, h3{
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    
}
#next{
    display:none;
}
#sub{
    display: none;
}
.front{
    margin:2%;
    outline:5px solid #71d1f4;
    padding:5%;
    align-content: center;
}
.answers{
    margin:2%;
    margin-top:5%;
    padding:5%;
    align-self: center;
    background-color: white;
    display:none;
    color:#71d1f4;
    border:5px solid white;
    font-family: 'Rokkitt', serif;
    font-size:20px;
}
.qa{
    color: #000000;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: rgb(244, 241, 247);
    border-width: thick;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-width: thick;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.quiz{
    margin:2%;
    margin-top:5%;
    padding:5%;
    align-self: center;
    background-color:transparent;
    display:none;
    color:#171a17;
    border:5px dotted black;
    font-family: 'Rokkitt', serif;
  
}
.result{
    margin:2%;
    padding:5%;
    padding-top:10%;
    height:70px;
    text-align: center;
    background-color: #ffffff;
    display: none;
    font-family: 'Rokkitt', serif;

}
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 2px;
}
.radio{
     
     
     padding-bottom:4%;
     
}
.radio label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height:15px;
  margin-right: 0.5em;
  vertical-align: -3px;
  border: 2px solid #666666;
  padding: 0.13em;
  background-color: transparent;
  background-clip: content-box;

}
.radio label {
  margin-right: 1em;
}
.radio input:hover + label:before {
  border-color: #71d1f4;
}
.radio input:checked + label:before {
  background-color: #71d1f4;
  border-color: #71d1f4;
}

#q{
    padding-top:10px;
    text-align: center;
    font-size:22px;
    font-weight: bold;
   
    
}
#op1,#op2,#op3,#op4{
    background-color: rgb(207, 194, 194);
    margin-bottom:2.5%;
    padding:5px;
    padding-left: 4%;
    font-size:22px;
}
#op1:hover,#op2:hover,#op3:hover,#op4:hover{
    background-color:#df7aec;
}
#num{
    background-color:white;
    font-size:20px;
    border-radius:30px;
    padding-left:2%;
    color:#0d0d0e;
    width:45px;

}
#sub{
    background-color: white;
    padding: 8px;
    border-radius:5px;
    border:none;
    width:200px;
    font-size:20px;
    color: #40c2f2;
}
#start{
    color: #f4f6f7;
    background-color:  #40c2f2;
    padding:8px;
    font-size:20px;
    border:green;
    width:200px;
    border-radius:5px;

}
#an{
    color: #f4f6f7;
    background-color:  #40c2f2;
    padding:8px;
    font-size:20px;
    border:green;
    width:200px;
    border-radius:5px;

}
.score{
    font-size:50px;
    font-weight: bold;
    color:red;
}
.message{
    font-size: 20px;
    color: green;
}
.answers{
    display: none;
}
#a1,#a2,#a3,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10{
    color: #49f016;
    font-weight: bold;
}
